<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Sign in</title>
    <meta content='lab2023' name='author'>
    <meta content='' name='description'>
    <meta content='' name='keywords'>
    <link href="{{ url_for( 'static', filename='v3/stylesheets/application-a07755f5.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for( 'static', filename='v3//css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for( 'static', filename='imgs/favicon.ico')}}" rel="icon" type="image/ico" />

  </head>
  <body class='login'>
    <div class='wrapper'>
      <div class='row'>
        <div class='col-lg-12'>
          <div class='brand text-center'>
            <h1>
              <div class='logo-icon'>
                <i class='icon-beer'></i>
              </div>
              Hierapolis
            </h1>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <form>
            <fieldset class='text-center'>
              <legend>Login to your account</legend>
              <div class='form-group'>
                <input class='form-control' placeholder='Email address' type='text'>
              </div>
              <div class='form-group'>
                <input class='form-control' placeholder='Password' type='password'>
              </div>
              <div class='text-center'>
                <div class='checkbox'>
                  <label>
                    <input type='checkbox'>
                    Remember me on this computer
                  </label>
                </div>
                <a class="btn btn-default" href="dashboard.html">Sign in</a>
                <br>
                <a href="forgot_password.html">Forgot password?</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <!-- Javascripts -->
    <script src="{{ url_for( 'static', filename='v3/js/jquery-1.10.2.js')}}" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript">
    </script><script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js" type="text/javascript"></script>
    <script src="{{ url_for( 'static', filename='v3/javascripts/application-985b892b.js')}}" type="text/javascript"></script>
    <!-- Google Analytics -->
    <!-- <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script> -->
  </body>
</html>
