<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random Login Form</title>



    <style>
        /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

        @import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
        @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
        body {
            margin: 0;
            padding: 0;
            background: #fff;
            color: #fff;
            font-family: Arial;
            font-size: 12px;
        }

        .body {
            position: absolute;
            top: -20px;
            left: -20px;
            right: -40px;
            bottom: -40px;
            width: auto;
            height: auto;
            background-image: url("{{ url_for( 'static', filename='v2/imgs/bg1.jpg')}}");
            background-size: cover;
            -webkit-filter: blur(5px);
            z-index: 0;
        }

        .grad {
            position: absolute;
            top: -20px;
            left: -20px;
            right: -40px;
            bottom: -40px;
            width: auto;
            height: auto;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
            /* Chrome,Safari4+ */
            z-index: 1;
            opacity: 0.7;
        }

        .header {
            position: absolute;
            top: calc(50%);
            left: calc(50% - 400px);
            z-index: 2;
        }

        .header div {
            float: left;
            color: #fff;
            font-family: 'Exo', sans-serif;
            font-size: 35px;
            font-weight: 200;
        }

        .header div span {
            color: #5379fa !important;
        }

        .login {
            position: absolute;
            top: calc(50% - 75px);
            left: calc(50% - 50px);
            height: 150px;
            width: 350px;
            padding: 10px;
            z-index: 2;
        }

        .login input[type=text] {
            width: 250px;
            height: 30px;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 2px;
            color: #fff;
            font-family: 'Exo', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding: 4px;
        }

        .login input[type=password] {
            width: 250px;
            height: 30px;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 2px;
            color: #fff;
            font-family: 'Exo', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding: 4px;
            margin-top: 10px;
        }

        .login input[type=button] {
            width: 260px;
            height: 35px;
            background: #fff;
            border: 1px solid #fff;
            cursor: pointer;
            border-radius: 2px;
            color: #a18d6c;
            font-family: 'Exo', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding: 6px;
            margin-top: 10px;
        }

        .login input[type=button]:hover {
            opacity: 0.8;
        }

        .login input[type=button]:active {
            opacity: 0.6;
        }

        .login input[type=text]:focus {
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.9);
        }

        .login input[type=password]:focus {
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.9);
        }

        .login input[type=button]:focus {
            opacity: 0.6;
            width: 100%;
        }

        #signin {
            outline: none;
            width: 100%;
            margin-top: 2em;
            height: 3em;
            font-family: 'Exo', sans-serif;
        }

         ::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.6);
        }

         ::-moz-input-placeholder {
            color: rgba(255, 255, 255, 0.6);
        }

        dl {
            border: 3px double #ccc;
            padding: 0.5em;
        }

        dt {
            float: left;
            clear: left;
            width: 100px;
            text-align: right;
            font-weight: bold;
            font-size: 1.2em;
            color: navajowhite;
        }

        dt::after {
            content: ":";
        }

        dd {
            margin: 0 0 0 110px;
            padding: 0 0 0.5em 0;
        }

    </style>

    <script src="{{ url_for( 'static', filename='vendors/prefixfree/prefixfree.min.js')}}"></script>

</head>

<body>

    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Auto<span>Quality Test&reg;</span></div>
    </div>
    <br>
    <div class="login container">

        <form id="signin" method="post" action="/signin">
            {{ form.csrf_token }} {% from "_formhelpers.html" import render_field %} {{ render_field(form.email) }} {{ render_field(form.password) }}
          <div class=" row">
          <input type=submit id="signin" value="Log Me in" class="col-sm-12"/>
          </div>
          <div class=" row">
          <div class="col-sm-12">
              <p class="change_link">New to site?
                  <a href="/signup" class="to_register"> Create Account </a>
              </p>
          </div>
        </div>
            <!--        <input type=" button " value="Login ">-->
        </form>

    </div>
    <!--  -->
    <!-- jQuery -->
    <script src="{{ url_for( 'static', filename='vendors/jquery/jquery-3.3.1.min.js' )}} "></script>
    <!-- Bootstrap -->
    <!-- <script src="{{ url_for( 'static', filename='gentella/vendors/bootstrap/dist/js/bootstrap.min.js' )}} "></script>-->
</body>

</html>
